{% extends "base.html" %}
{% block title %}Create a new blog post{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Add post</h1>
        <br/>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-success">Publish post</button>
            </form>
        </div>

        <div class="form-group">
            <button id="generate-text" class="btn btn-info">AI post based on title</button>
        </div>

        <div class="form-group">
            <label for="generated-text">Generated text</label>
            <textarea class="form-control" id="generated-text" readonly></textarea>
        </div>

        <script>
            document.getElementById('generate-text').addEventListener('click', function(event) {
                event.preventDefault();

                var postTitle = document.getElementById('id_title').value;

                if (!postTitle) {
                    alert("Please enter a title before generating text.");
                    return;
                }

                fetch("{% url 'generate_text_from_title' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ title: postTitle })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.text) {
                        document.getElementById('generated-text').value = data.text;
                    } else if (data.error) {
                        alert("Error: " + data.error);
                    } else {
                        alert("An error occurred while generating the text.");
                    }
                })
                .catch(error => console.error("Error:", error));
            });
        </script>

        <script>
            var username = "{{ user.id }}";
            document.getElementById("user_id").value = username;
        </script>
    {% else %}
        <h2>You are not allowed to be here</h2>
    {% endif %}
{% endblock content %}
