{% extends "base.html" %}
{% block content %}
  <h1>Post</h1>
  <ul>
    {% for post in object_list %}
      <li>
        <a href="{% url 'article-detail' post.pk %}">
          {{ post.title }}</a> - {{ post.author }} - {{ post.post_date}}
            {% if user.is_authenticated %}
              {% if user.id == post.author.id %}
                <small>
                  <a class="btn btn-secondary btn-sm" href="{% url "update_post" post.pk %}">(Edit post)</a>
                  <a class="btn btn-danger btn-sm" href="{% url "delete_post" post.pk%}">(Delete post)</a>
                </small>
              {% endif %}
            {% endif %}
            <br/>
            <small>{{ post.snippet }}</small>
            <br/>
          <small>Category <a class="btn btn-info btn-sm" href="{% url "category" post.category|slugify %}" >{{ post.category }}</a></small>
          <br/>

      </li>
    {% endfor %}
  </ul>
{% endblock %}
