{% extends 'base.html' %}

{% block title %}
  Edit blog post
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h1>Edit post</h1>
            <br/>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Update</button>
            </div>
        {% else %}
            <h2>You are not allowed to be here</h2>
        {% endif %}
    {% else %}
        <h2>You are not allowed to be here</h2>
    {% endif %}
{% endblock %}
